.top {
  display: flex;
  justify-content: right;
  min-width: 10%;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background: #666699;
  color: white;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  font-size: 200%;
  background-color: #00bfff;
  padding: 10px;
  margin-left: 10px;
  margin: 10px;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  margin: 20px;
  font-weight: bold;
}
