.Footer {
  display: flex;
  flex: 80%;
  background-color: #66ffff;
  padding: 30px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.ending {
  color: black;
  justify-content: space-evenly;
  font-size: 30px;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  text-decoration: underline;
  display: flex;
  flex-wrap: wrap;
}
